# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/CloudMoveyNotifier/obj/x64/Debug
/CloudMoveyNotifier/bin/x64/Debug
/packages/WPF.JoshSmith.2.0.0.0
/CloudMoveyWorkerService/obj/x64/Debug/TempPE
/MRMPService/bin/Debug/Double-Take/Linux/doubletake_8.0.0.1476.0.deb
/MRMPService/bin/Debug/Double-Take/Linux/DoubleTake-8.0.0.1476.0.rpm
/MRMPService/bin/Debug/Double-Take/Windows/setup.exe