<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICloudMoveyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/CloudMoveyWorkerService.WCF/CloudMovey/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICloudMoveyService"
                contract="CloudMoveyWCFService.ICloudMoveyService" name="BasicHttpBinding_ICloudMoveyService" />
        </client>
    </system.serviceModel>
</configuration>
